%div.page-header
  %h1 プロフィール編集
%div.col-md-5
  %div
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .form-inputs
        .field
          = f.label "メールアドレス", class: "control-label"
          %br/
          = f.email_field :email, autofocus: true, class: "form-control"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        %div.form-group
          .field
            = f.label "パスワード"
            %i (変更しない場合は記入しない)
            %br/
            = f.password_field :password, autocomplete: "off", class: "form-control"
            - if @minimum_password_length
              %em
                = @minimum_password_length
                characters minimum
          .field
            = f.label "パスワードを再度記入"
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
          .field
            = f.label "プロフィールの変更を保存するために現在のパスワードを入力"
            %br/
            = f.password_field :current_password, autocomplete: "off", class: "form-control"
      .form-actions
        = f.submit "更新する", class: "btn btn-block btn-primary"
  %div.page-header
    %h1 退会する
  %div
    #{button_to "アカウントを削除して退会する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class:"btn btn-block btn-danger"}
