%h1.text-center
  = image_tag "logo.png", class: "logo"
%div.container.login
  %div.panel.panel-default
    %div.panel-body
      %div.form-vertical
      %div.page-header
        パスワードを忘れてしまいましたか？
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        %div.form-group
          = f.label :email, "メールアドレス"
          %br/
          = f.email_field :email, autofocus: true, class: "form-control"
        .actions
          = f.submit "パスワード変更手続きのメールを送る", class: "btn btn-block btn-primary"
  = render "devise/shared/links"
  = link_to "Logo from LogoMakr.com", "http://logomakr.com"
