- clickable = true if local_assigns[:url].present?
- url = nil if local_assigns[:url].blank?

%div{class: "expense expense-#{expense.status}"}
  %div.panel.panel-default
    %div.panel-body{ class: ('js-expense-panel' if clickable), data: { 'detail-url': url } }
      %div.media
        %div.media-left
          = image_tag expense.user.gravatar_url, class: "img-circle gravatar"
        %div.media-body
          %div.row
            %div.details.col-md-8
              %h3
                = expense.title
                %small= expense.user.name
              %p= expense.purpose
              %p
                = "#{expense.paid_at.strftime("%Y年%m月%d日")}に#{expense.paid_to}に支払われました。"
            %div.col-md-4
              %div.price
                %span.glyphicon.glyphicon-yen
                  = number_with_delimiter(expense.amount, delimiter: ",")
                %p.status= "#{I18n.t(expense.status, scope: "models.expense.status")}"
