- clickable = true if local_assigns[:url].present?
- url = nil if local_assigns[:url].blank?

%div{class: "expense expense-#{expense.status}"}
  %div.panel.panel-default
    %div.panel-body{ class: ('js-expense-panel' if clickable), data: { 'detail-url': url } }
      %div.media
        %div.media-left
          = image_tag expense.user.gravatar_url, class: "img-circle gravatar"
        %div.media-body
          %div.row
            %div.details.col-md-8
              %h3
                = expense.title
                %small= expense.user.name
              %p= simple_format(expense.purpose)
              %p
                = "#{expense.paid_at.strftime("%Y年%m月%d日")}に#{expense.paid_to}に支払われました。"
              %p
                %span.glyphicon.glyphicon-user
                = expense.user.name
                %span.glyphicon.glyphicon-calendar
                = expense.created_at.strftime("%Y-%m-%d")
                %span.glyphicon.glyphicon-time
                = "#{time_ago_in_words(expense.created_at)}前"
              %p
                %span.glyphicon.glyphicon-tags
                = expense.category_i18n
                - if expense.category10?
                  = expense.category_other_detail
            %div.col-md-4
              %div.price
                %span.glyphicon.glyphicon-yen
                  = number_with_delimiter(expense.amount, delimiter: ",")
                %p.status= "#{I18n.t(expense.status, scope: "models.expense.status")}"
