%div{class: "expense expense-#{expense.status}"}
  %div.panel.panel-default
    %div.panel-body
      %div.media
        %div.media-left
          = image_tag current_user.gravatar_url, class: "img-circle gravatar"
        %div.media-body
          %div.row
            %div.details.col-md-8
              %h3= link_to expense.title, expense_path(expense.id)
              %p
                %span.glyphicon.glyphicon-user
                  = current_user.name
                %span.glyphicon.glyphicon-calendar
                  = expense.created_at.strftime("%Y-%m-%d")
                %span.glyphicon.glyphicon-time
                  = time_ago_in_words(expense.created_at)
                %div.category
                  %span.label-category= expense.category_i18n
                  - if current_user.admin?
                    %button.btn.btn-primary.btn-sm
                      %span.glyphicon.glyphicon-pencil
                        %label コメントを書く
            %div.col-md-4
              %div.price
                %span.glyphicon.glyphicon-yen
                  1000
                  / #TODO
                %p.status= I18n.t(expense.status, scope: "models.expense.status")
