%div{class: "expense expense-#{expense.status}"}
  %div.panel.panel-default
    %div.panel-body
      %div.media
        %div.media-left
          = image_tag current_user.gravatar_url, class: "img-circle gravatar"
        %div.media-body
          %div.row
            %div.details.col-md-8
              %h3= link_to expense.title, expense_path(expense.id)
              %p= expense.purpose
              %p
                = "#{expense.paid_at.strftime("%Y年%m月%d日")}に#{expense.paid_to}に支払われました。"
              %p
                %span.glyphicon.glyphicon-user
                = expense.user.name
                %span.glyphicon.glyphicon-calendar
                = expense.created_at.strftime("%Y-%m-%d")
                %span.glyphicon.glyphicon-time
                = "#{time_ago_in_words(expense.created_at)}前"
                %div.category
                  %span.label-category= expense.category_i18n
            %div.col-md-4
              %div.price
                %span.glyphicon.glyphicon-yen
                  = expense.amount
                %p.status= "#{I18n.t(expense.status, scope: "models.expense.status")}"
          - if current_user.admin?
            %div.comment
              =link_to "承認・却下する", edit_expense_path(expense), class: "btn btn-default"