%div.page-header
  %h1 ALL 経費
%div.filters
  %button.btn.btn-sm= link_to "未対応", controller: "expenses", action: "index", filter: :pending
  %button.btn.btn-sm= link_to "承認済", controller: "expenses", action: "index", filter: :approved
  %button.btn.btn-sm= link_to "却下済", controller: "expenses", action: "index", filter: :rejected
  - if current_user.admin?
    %span.dropdown
      %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#", class: "btn btn-primary btn-sm"}
        人物でフィルター
        %b.caret
      %ul.dropdown-menu{"role" => "menu"}
        - current_user.company.users.each do |user|
          %li
            =link_to user.name, "#"
- @expenses.each do |expense|
  = render "expenses/expense", expense: expense
= paginate @expenses
