%div.page-header
  %h1 ALL 経費
%div.filters
  %ul.nav.nav-pills
    %li{role:"presentation", class: ("active" if params[:status] == nil )}
      = link_to "すべて", expenses_path
    %li{role:"presentation", class: ("active" if params[:status] == 'pending' )}
      = link_to "未対応", expenses_path(status: :pending)
    %li{role:"presentation", class: ("active" if params[:status] == 'approved' )}
      = link_to "承認済", expenses_path(status: :approved)
    %li{role:"presentation", class: ("active" if params[:status] == 'rejected' )}
      = link_to "却下済", expenses_path(status: :rejected)
    %li{role:"presentation", class: ("active" if params[:status] == 'retrieved' )}
      = link_to "取り消し済", expenses_path(status: :retrieved)
  - if current_user.admin?
    %span.dropdown
      %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#", class: "btn btn-primary btn-sm"}
        人物でフィルター
        %b.caret
      %ul.dropdown-menu{"role" => "menu"}
        - current_user.company.users.each do |user|
          %li
            =link_to user.name, controller: "expenses", action: "index", user: user
- @expenses.each do |expense|
  - if expense.status == :pending
    = render "expenses/expense", expense: expense, url: edit_expense_path(expense)
  - else
    = render "expenses/expense", expense: expense, url: expense_path(expense)
= paginate @expenses
