%h1 Expenses#new
%p Find me in app/views/expenses/new.html.haml
= simple_form_for(@expense) do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :category, Expense.categories
  .form-actions
    = f.button :submit
