%div.container
  %div.page-header
    %h1 新しく経費申請する
  %div.col-md-5
    = simple_form_for(@expense) do |f|
      = f.error_notification
      .form-inputs
        = f.input :title, label: "申請内容"
        = f.input :purpose, label: "目的"
        %div
          = f.input :paid_at, label: "支払い日"
          = f.input :paid_to, label: "支払先"
          = f.input :amount, label: "金額"
          = f.input :category, label: "勘定項目"
      .form-actions
        = f.button :submit, "申請する", class: "btn-lg btn-primary"
