!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kehi
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = javascript_include_tag 'application'
  %body
    %div.container-fluid
      %div.row
        %div.col-sm-3.col-lg-2
          %nav.navbar.navbar-default.navbar-fixed-side
            %div.container
              %div.navbar-header
                %div= link_to "KEHI", root_url, class: "navbar-brand"
              %ul.nav.navbar-nav
                - if user_signed_in?
                  %div.collapse.navbar-collapse.navbar-profile
                    = link_to edit_user_registration_path do
                      = image_tag current_user.gravatar_url, class: "img-circle gravatar centered"
                    %div
                      = link_to edit_user_registration_path do
                        = current_user.name
                      - if current_user.admin
                        %span.label.label-info admin
                    - if current_user.company
                      %span= current_user.company.name
                  %li= link_to "ホーム", root_url
                  %li= link_to "経費申請する", new_expense_path
                  %li= link_to "経費一覧", expenses_path
                  %li= link_to "プロフィール", edit_user_registration_path
                  %li= link_to "ログアウト", destroy_user_session_path, method: :delete
                - else
                  %li= link_to "サインアップ", new_user_registration_path
                  %li= link_to "ログイン", new_user_session_path
        %main.col-sm-9.col-lg-10
          .container
            - flash.each do |type, message|
              %div{class: "alert alert-#{type}"}= message
            = yield
